/* Reset some default styles */
body, h1, h2, p, input, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Set a background color for the body */
body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/* Style the header */
h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-family: 'Minecraft', sans-serif;
    font-size: 48px;
}

/* Style the seeds input and button */
.seeds {
    text-align: center;
    margin-top: 20px;
}

#input {
    padding: 10px;
    height: 50px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 32px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

#addButton {
    padding: 10px 20px;
    height: 50px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    transition: 0.5s;
    font-family: 'Varela Round', sans-serif;
}

#addButton:hover {
    transition: 0.5s;
    background-color: #555;
    rotate: 360deg;
}

/* Style the container for coordinates */
.container {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 25%;
    margin: auto;
}

.seed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d8d8d8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 2px 9px 10px rgba(0, 0, 0, 0.3);
}

.seed #p1 {
    margin: 0;
    flex-grow: 1;
    font-size: 24px;
    font-family: 'Lilita One', cursive;
    position: relative;
}


.seed button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #292929;
    transition: color 0.3s ease-in-out;
}

.seed button:hover {
    color: #c21c1c;
}

/* Style the trash icon */
.seed .fa-trash {
    margin-left: 10px;
}
.seed .color {
    display: flex;
    position: relative;
    margin-right: 3%; 
}

.color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 26px;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.color::-webkit-color-swatch {
    border-radius: 5px;
    rotate: 45deg;
    border: 2px solid #00000060;
}

.color:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}